
@import '../../StyleO.scss';
.ratinggg--container
{
    border-top:1px solid #DADADA;
    border-bottom:1px solid #DADADA;
    border-right:1px solid #DADADA   ;
    border-left:1px  solid #DADADA ;
    
    
  width: 100%;
  padding: 0px 20px 20px 20px;
}
.rating--container
{
    margin-top: 20px;
    border-radius: 15px;
}
.region--container
{
    border-top:none;
    border-bottom:none;
    border-right:1px solid #DADADA   ;
    border-left:1px  solid #DADADA ;
  width: 100%;
  padding: 0px 20px 20px 20px;   
 
    form 
    {
        display: flex;
        flex-direction: column;
        div 
        {
          
            label 
            {
              color:var(--black-color);
              font-size: 18px;
              line-height: 23px;
              text-transform: capitalize;
            }
            input 
            {
                
                font-size: 18px;
                transform: scale(1.5);
                margin-right:12px;
            }

        } 
     
    }
}
.checkbox--header
{
    border:1px solid #DADADA;
    
    width: 100%;
    padding:0px  20px 0px 20px;
    p
    {
        line-height: 22px;
        padding: 14px 20px;
        align-items: center;
        display: flex;
        justify-content: space-between;
       color:var( --black-color);
        font-size: 22px;
        font-family: var(--font-family-inter);
        margin: 0px;
        font-weight: 600 !important;
        
     
    }
    span:active 
    {
        transform: rotate(180deg);
    }
    
}
.checkbox--container
{
  
     flex: 0 0 20%;
     form 
     {
        div 
        {
            padding-top:20px;
        }
     }
}
.activities--container
{
    border-top:none;
    border-bottom:none;
    border-right:1px solid #DADADA   ;
    border-left:1px  solid #DADADA ;

}
.rating--icon--container
{
    text-align: center;
    padding:30px 30px 10px 10px;
}
.daysrange--input
{
    display: flex;
    flex-direction: column;
}
.daysrange--container
{

   
    p 
    {
        
        line-height: 22px;
        padding: 14px 20px;
        align-items: center;
      
       color:var( --black-color);
        font-size: 22px;
        font-family: var(--font-family-inter);
        margin: 0px;
        font-weight: 600 !important;

    }
}
.daysss
{
    display: flex;
    justify-content: space-between;
   
    .daysrange--input
    {
        input 
        {
            border:1px solid gray;
            padding:5px;
            border-radius: 10px;
            width: fit-content;
        }
    }
}
.butons
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    p 
    {
        padding:8px 10px;
        border-radius: 5px;
        &:hover{
            background-color: red;
            color:white;
           
        }
    }
}