@import "../../StyleO.scss";
.topbar--wrapper {
  font-family: "Libre Caslon Text", serif;

  padding: 16px 0px;
  .topbar--contact--wrapper {
    display: flex;
    justify-content: space-between;
  }
  .topbar--contact {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;

    p {
      font-size: 16px;
      margin: 4px;
    }
  }
}

.navbar--main--wrapper {
  position: absolute;
  width: 100%;
  max-width: 1920px;
  z-index: 99;
}
.topbar--container {
}
.tophotbar--container {
  background-color: #083858;
  text-align: center;
  color: white;
  font-family: "Libre Caslon Text", serif;
  padding: 5px;
  p {
    margin: 3px;
    font-size: 16px;
    letter-spacing: 0.2px;
    span {
      text-decoration: underline;
    }
  }
}
.sm--icons {
  display: flex;
  gap: 30px;
  justify-content: end;
}
.navlinks--wrapper {
  display: flex;
 
}
.navbar--wrapper {
  padding: 25px 0px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  z-index: 1;
  ul {
    display: flex;
    gap: 2rem;
    color: rgb(255, 255, 255);

    li {
      list-style: none;
      font-size: var(--font-small);
      font-family: var(--font-family-libre);
      font-weight: 800;
      align-items: center;
      gap: 20px;
      text-transform: uppercase;
      cursor: pointer;
      &:hover {
        color: var(--primary-color);
      }
      &:nth-child(1) {
        span {
          visibility: visible;
        }
      }
      &:nth-child(2) {
        span {
          visibility: visible;
        }
      }
    }
    span {
      visibility: hidden;
    }
  }
  .navbar--button {
    display: flex;
    justify-content: end;
    padding-right: 13px;

    button {
      border: 2px solid white;
      padding: 12px 30px;
      border-radius: 50px;
      background: transparent;
      font-family: var(--font-family-libre);
      font-weight: 700;
      color: white;
    }
  }
}

// responsive
@media (max-width: 1100px) {
  .navbar--wrapper {
    .navbar--button {
      button {
        padding: 12px 20px;
      }
    }
  }
//   .topbar--wrapper
//   {
//     .topbar--contact--wrapper {
//       display: flex;
//       gap:2em;
//   } 
// }
}
@media (max-width: 992px) {
  .navbar--wrapper {
   span 
   {
    display: none;
   
    }
    .navbar--button {
      button {
        padding: 12px 10px;
      }
    }
  }
}
@media (max-width:899px)
{
  .navbar--wrapper {
    .navbar--button {
     display: none;
    }
  }
}
@media (max-width: 692px) {
  .tophotbar--container {
    p {
      font-size: 12px;
    }
  }
  .topbar--wrapper {
    padding: 8px 0px;
    .topbar--contact {
      p {
        font-size: 14px;
      }
    }
  }.navbar--wrapper{
    padding:10px 0px;
    ul 
    {
      li {
        font-size: 12px;
      }
    }
  }
  .sm--icons {
    span {
      padding: 0px 0px;
    }
  }
}
@media (max-width: 593px) {
  .sm--icons {
    display: none;
  }
  .topbar--contact--wrapper {
    display: flex;
    justify-content: center;

    left: 20%;
    position: relative;
    width: 100%;
  }
}
@media (max-width: 425px) {
  .tophotbar--container {
    padding: 5px 8px;
    p {
      font-size: 10px;
    }
  }

  .navlinks--wrapper
  {
    display:none;
  }
}
