.carousel--card--container
{
  display: flex;
  overflow-x: hidden;
  position: relative;
  overflow-y: hidden;
 
   
}
.carousel--wrappper-tvd
{
  display: flex;
  overflow-x: hidden;
  position: relative;
  overflow-y: hidden;
  padding-top: 50px;
}
.btn--container
{

  position: absolute;
 bottom:75%;
 right:0%;
 padding:20px 0px;
  .button-next
  {
  border-radius: 50%;
  border:2px solid #0E6097;
  padding:4px 6px;
  margin:5px;
  cursor: pointer;
  }.button-prev
  {
    border-radius: 50%;
    border:2px solid #0E6097;
    padding:4px 6px;
    margin-right:8px;
    cursor: pointer;
  }
}
.btn--container--ourteam
{
  
  position: absolute;
 bottom:5%;
 
 right:0%;
 padding:20px 0px;
  .button-next
  {
  border-radius: 50%;
  border:2px solid #0E6097;
  padding:4px 6px;
  margin:5px;
  cursor: pointer;
  }.button-prev
  {
    border-radius: 50%;
    border:2px solid #0E6097;
    padding:4px 6px;
    margin-right:8px;
    cursor: pointer;
  }

}


.tdcard--container {
   
    width: 300px;
    height: 200px;
    position: relative;
    flex: 0 0 auto;
    margin:10px;
    transition: 1s ease;
  
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      z-index: 0;
      position: relative;
      border-radius: 10px;
    }
    .tdcard--content {
      height: 100%;
      position: absolute;
      z-index: 3;
      bottom:10px;
      top:60%;
      transform: translateX(50px);
  
      p {
        color: white;
        font-weight: 600 !important;
        font-family: var(--font-family-pop);
        letter-spacing: 1px;
        font-size: 22px ;
      }
    }
  }


  