.carousel--card--container
{
  display: flex;
  overflow-x: hidden;
  position: relative;
  overflow-y: hidden;
 
   
}
.carousel--wrappper-tvd
{
  display: flex;
  overflow-x: hidden;
  position: relative;
  overflow-y: hidden;
  padding-top: 50px;
}
.btn--container
{

  position: absolute;
 bottom:75%;
 right:0%;
 padding:20px 0px;
  .button-next
  {
  border-radius: 50%;
  border:2px solid #0E6097;
  padding:4px 6px;
  margin:5px;
  cursor: pointer;
  }.button-prev
  {
    border-radius: 50%;
    border:2px solid #0E6097;
    padding:4px 6px;
    margin-right:8px;
    cursor: pointer;
  }
}
.btn--container--ourteam
{
  
  position: absolute;
 bottom:-20%;
 
 right:14%;
 padding:20px 0px;
  .button-next
  {
  border-radius: 50%;
  border:2px solid #0E6097;
  padding:4px 6px;
  margin:5px;
  cursor: pointer;
  }.button-prev
  {
    border-radius: 50%;
    border:2px solid #0E6097;
    padding:4px 6px;
    margin-right:8px;
    cursor: pointer;
  }

}


.tdcard--container {
   
    width: 344px;
    
    position: relative;
    
    transition: 1s ease;
  
    img {
      height: 100%;
      width: 100%;
      object-fit:contain !important; 
      z-index: 0;
      position: relative;
      border-radius: 10px;
    }
    .td--overlay
    {
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.048);
      top: 0;
      z-index: 0;
    }
    .tdcard--content {
      height: 100%;
      position: absolute;
      z-index: 3;
      bottom:10px;
      top:70%;
      transform: translateX(50px);
  
      p {
        color: white;
        font-weight: 500 !important;
        font-family: var(--font-family-pop);
        letter-spacing: 1.5px;
        font-size: 22px ;
      }
    }
  }
  .custom-prev-arrow
  {
    position: absolute;
    top: -47px;
    right: 74px;
    span 
    {
     
      padding:0px 5px;
      border: 2px solid gray;
      border-radius: 24px;
      color:gray;
    }
  

  }
  .custom-next-arrow
  {
    position: absolute;
    top: -47px;
    right: 36px;
    span 
    {
     
      padding:0px 5px;
      border: 2px solid gray;
      border-radius: 24px;
      color:gray;
    }
  }
  .ourteamcarousel--container
  {
    position: relative;
  }
  .ourteam-carousel--card--container
  {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
    img 
    {
      height: 110px;
      border:2px solid var(--primary-color);
      border-radius: 50%;
      display: flex;
      margin: auto;
    }
  }
  .ourteam--content
  {
    text-align: center;
    .nameee
    {
      font-size: 22px;
      font-weight: 600;
      font-family: var( --font-family-inter);
      margin:0px;
      padding-top: 15px;
      color:var(--black-color)

    }
    .work
    {
      font-weight: 600;
      font-family: var( --font-family-inter);
      margin:0px;
      padding-top: 8px;
      color:var(--sub--header);
      font-size: 22px;

    }
  }


  