.contactusform--container
{
    padding:30px 30px 25px 30px;
    background: white;
    border-radius: 15px;
    .contactusform--header
    {
        background-color: var(--primary-color);
        padding:3px ;
        color:white;
        border-radius: 6px;
        margin-bottom: 10px;
        p 
        {
            margin:4px;
            font-family: var(--font-family-pop);
            font-family: 700 !important;
            text-align: center;



        }
    }
    form 
     {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        margin-top:10px;
        input 
        {
          padding:12px 0px 12px 12px;
          border-radius: 8px;
          border: 1px solid #4A4A4A;
          font-family: var(--font-family-pop);
          font-size: 18px;
          line-height: 22px;
          font-weight: 500;
          position: relative;
          width: 100%;
      }
      .input--wrapper--inquiry
      {
        position: relative;
      }
      span 
      {
        position: absolute;
        top:10px;
        right: 20px;
        
      }
      textarea 
      {
       
        padding:12px 0px 12px 12px;
          border-radius: 8px;
          border: 1px solid #4A4A4A;
          font-family: var(--font-family-pop);
          font-size: 18px;
          line-height: 22px;
          font-weight: 500;
          
          width: 100%;
      }
        }
}
.bookingform--container
{
    background-color:#E8EBED ;
    padding: 50px 0px;
    form 
    {
        outline: none;
        background-color: rgb(255, 255, 255);
        padding:40px 73px;
        border-radius: 15px;
        box-shadow: 1px 1px 10px 1px rgb(153, 199, 252);
        label
        {
            display: block;
            font-size: 18px;
            font-weight: 600 !important;
            line-height: 28px;
            font-family: var(--font-family-pop);
            margin-bottom: 8px;
            padding-top: 20px;
           
            span 
            {
                color:red;
            }
        }
        input 
        {
          
            font-family: var(--font-family-pop);
            font-size: 16px;
            line-height: 27px;
            font-size: 400 !important;
            border:1px solid var(--black-color);
          width: 100%;
            padding:7px 15px;
            border-radius: 5px;
        }
        select 
        {
         
            font-family: var(--font-family-pop);
            font-size: 16px;
            line-height: 27px;
            font-size: 400 !important; 
            border:1px solid var(--black-color);
            width:calc(100%);
            padding:8px 15px;
            border-radius: 5px;
        }
        .date-input
        {
            appearance: none;
        }
        textarea
        {
            width: 100%;
            font-family: var(--font-family-pop);
       
        padding:10px 0px 3px 20px;
        border:1px solid var(--black-color);
        }
    }
}
.error
{
    color:red;
    font-size: 12px;
}

.customItem {
    -ms-flex-preferred-size: calc(33.333333% - 20px) !important;
    flex-basis: calc(33.333333% - 20px)  !important;
    max-width: calc(33.333333% - 20px)  !important;
}
.customItem6 {
    -ms-flex-preferred-size: calc(50% - 20px) !important;
    flex-basis: calc(50% - 20px)  !important;
    max-width: calc(50% - 20px)  !important;
}

