 @import '../../StyleO.scss';
.inquiry--container
 
   {
    .lllll
    {
      width: 100%;
    }

    flex:0 0  23%;
    margin-top: 40px;
     form 
     {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        margin-top:10px;
        input 
        {
          padding:12px 0px 12px 12px;
          border-radius: 8px;
          border: 1px solid #4A4A4A;
          font-family: var(--font-family-pop);
          font-size: 18px;
          line-height: 22px;
          font-weight: 500;
          position: relative;
          width: 100%;
      }
      .input--wrapper--inquiry
      {
        position: relative;
      }
      span 
      {
        position: absolute;
        top:10px;
        right: 20px;
        
      }
      textarea 
      {
       
        padding:12px 0px 12px 12px;
          border-radius: 8px;
          border: 1px solid #4A4A4A;
          font-family: var(--font-family-pop);
          font-size: 18px;
          line-height: 22px;
          font-weight: 500;
          
          width: 100%;
      }
        }
     }

.inquiry--div
{
  border:3px solid var(--primary-color);
  padding:5px;
  width: 100%;
  color:white;
  margin-top: 40px;
  p 
  {
    margin:2px;
    font-size: 18px;
    text-align: center;
    font-family: var(--font-family-pop);
    font-weight: 600;
    color:var(--primary-color);
    text-transform: uppercase;
  }
}
.singlepage--detail--container
{
  flex: 0 0 77%;
 overflow: hidden;
    h1 
    {
        color:var(--primary-color);
        font-size: 30px;
        font-family: var( --font-family-libre);
        font-weight: 700;
        margin: 40px 0px 10px 0px;
    }
    p 
    {
        margin:5px 0px;
        font-size: 21px;
        font-family: var(--font-family-pop);
        color:#292929;
        font-weight: 600 !important;
        line-height: normal;
       
    }
}
.featuredDes--container{
  width: 100%;
  margin-top: 40px;
  
  .packagesListing{
    width: 100%;
    padding-left:0;
    padding-top: 18px;
    margin:0px;
    li{
      list-style-type: none;
      position: relative;
      margin-left: 0;
     padding: 0px 20px 0px 40px;
     margin-top: 10px;
     font-weight: 500;

      a{
        color:#000;
        text-decoration: none;
        font-size: 18px;
        line-height: 25px;
        font-family: var(--font-family-pop);
        &:hover{
          border-bottom: 1px var(--primary-color) solid;
        }
        svg{
          position: absolute;
          left:0;
          top:4px;
        }
      }
    }
  }
}
.titleBox{
  background-color: var(--primary-color);
  background-image: url("data:image/svg+xml,%3Csvg width='45' height='40' viewBox='0 0 45 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M45 0C11.3793 9.06667 5.68965 28.2667 0 40V0H45Z' fill='%23FFA53B'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  font-size: 20px;
  font-weight: 00;
  padding: 7px;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
  width: 100%;
  box-shadow: 0 4 0 22px var(--primary-color);
}