

@media (max-width:1980px)
{

    .css-1oqqzyl-MuiContainer-root
    {
        max-width: 1650px !important;
    }

    .navbar--main--wrapper
    {
        // max-width: 1280px;
        // Container {
        //     max-width: 1280px;
        // }
    }

}
@media (max-width:1280px)
{
    
    .css-1oqqzyl-MuiContainer-root
    {
        max-width: 1230px !important;
    }
    .css-1xzqqmo-MuiGrid-root
    {
        gap:10px !important;
    }
    .homepage{
        .searchdestination--container
        {
    padding: 42px 36px;
        }
        .destinations--input 
        {
            padding: 10px 20px;
            select 
            {
                font-size: 14px;
    
            }
            span 
            {
                font-size: 20px;
            }
        } 
        .map 
        {
            padding: 0px;
        }
        .majestic--header--container{
            padding: 0;
        }
        .section--header{
            font-size: 56px;
        }
        .small--activities--container .d-flex{
            flex-wrap: nowrap;
        }
        .heropagesection--wrapper h1{
            font-size: 62px;
        }
        .heropage--content{
            width: 850px;
        }
        .majestic--title{
            font-size: 32px;
        }
    }
    
   
    
}
@media(max-width:991px){
    .heropage--content{
        width: max-content;
    }
}
 
