:root{

    --main-font-size: 74px;
    --section--header:64px;
    --sub-font-size:22px;
    --font-small:14px;
  --primary-color: #0E6097;
  --font-family-pop:'Poppins', sans-serif;
  --font-family-libre:"Libre Caslon Text", serif;
  --white-color:#fff;
}
