:root{

    --main-font-size: 74px;
    --section--header:50px;
    --sub-font-size:22px;
    --font-small:14px;
  --primary-color: #0E6097;
  --font-family-pop:'Poppins', sans-serif;
  --font-family-libre:"Libre Caslon Text", serif;
  --font-family-inter:''Inter', sans-serif';
  --white-color:#fff;
  --black-color:#292929;
  --sub--header:#4A4A4A;

}
body{
  font-family: var(--font-family-pop);
}
h1,h2,h3,h4,h5,h6{
  font-family: var(--font-family-libre);
}