@import '../../../StyleO.scss';
.shortdetailtrip--container
{
    padding:40px 50px ;
    border: 3px solid var(--primary-color);
    border-radius: 15px;
    background-image: url('../../../../Images/footerr.png');
   
   
    overflow: hidden;
    z-index: 0;
 
    .shortdetailtrip--wrapper
    {
        display: flex;
        flex-wrap: wrap;
        row-gap: 40px;
        z-index: 2;
        
        .kjkj{
            flex: 0 0 33.33%;
            .shrtdetail{
                display: flex;
                gap:21px;
                font-family: var(--font-family-pop);
                 
                span 
                {
                  font-size: 44px;
                  color: var(--primary-color);
                }
                .shrtdetail--content{
                    p 
                    {
                        font-size: 18px;
                        color:var(--sub--header);
                        font-weight: 500;
                        margin: 0px;
    
                    }
                    .secnd-p
                    {
                        font-size: 22px;
                        font-weight: bold;
                        color: var(--primary-color);
                        margin-top:2px;
    
                    }
    
                }
            }

        }
        

        
    }
}
.itinaarydetail--container
{
    padding-top:35px ;
    h2 
    {
        font-size: 30px;
        font-weight: 800 !important;
        line-height: 27px;
        font-family: var( --font-family-libre);
        color:var(--primary-color);
        margin:0px;
        padding-bottom: 20px;

    }
}
.iterinary--p
{
    font-size: 22px;
    font-weight: 500 !important;
    color:var(--sub--header);
    margin:0px;
    line-height: 27px;
}
.symbolmap
{
 text-align: start;
    div 
    {
        display: flex;
        align-items: center;
        justify-content: space-around;
      
        margin-top: 10px;
    }
    img 
    {

    }
    p 
    {
        font-size: 18px;
        font-family: var(--font-family-pop);
        font-weight: 600;
        color:var(--black-color);
        text-align: start;
        margin:0px;
    }
}
.roadmap--container
{
    border:2px solid var(--black-color);
    padding:40px;
    border-radius: 15px;
}
.roadmap--wrapper
{
    img 
    {
        height: 500px;
        width: 500px;
        object-fit: cover;
    }
}
.iterinary--list
{
    width: 100%;
}
.itinerary--lists
{
    display: inline-flex;
  
  width: 100%;
margin-top: 10px;
    .itinerary--img
    {
        padding: 14px 13px;
        border:1px solid #797979;
        position: static;
        margin-right: 13px;
        height: max-content !important;
        img 
        {
              height: max-content !important;
        }

    }
   
}

  .MuiAccordionSummary-content
  {
  
  margin:3px !important;
  font-size: 20px;
  font-weight: 600;
  font-family: var(--font-family-pop);
  color:var(--black-color);
  }
  .css-1c35hjw-MuiPaper-root-MuiAccordion-root:last-of-type{
    border:1px solid gray;
    padding: 10px !important;
    border-radius: 5px !important;
  }
  .css-15v22id-MuiAccordionDetails-root
  {
   padding:0px 20px !important;
  }
  .css-1c35hjw-MuiPaper-root-MuiAccordion-root.Mui-expanded
  {
  margin:0px !important;
  }
  .equipment--p-subheader
  {
    font-size: 24px;
    font-weight: 700;
    color:var(--black-color);
    margin:0px 0px;

  }
  .equipment--lists
  {
    border:1px solid gray;
    padding: 5px 0px;
    border-radius: 15px;
    margin-top: 30px;
    .equipments
    {
        display: flex;
        align-items: center;
        gap:27px;
        padding: 14px;
        border-bottom: 1px solid gray;
        &:last-child
        {
            border-bottom: none;
        }
       
        span 
        {
            color:var(--primary-color);
            font-size: 30px;
            padding: 0px 20px;
        }
        p 
        {
            font-size: 22px;
            color:var(--black-color);
            
        }
    }
  }
  .itineraybar--b
  {
      background-color: var(--primary-color);
      padding: 14px;
  }
  .itinerarybar--icons
  {
      align-items: center;
      display: flex;
      gap:10px;
      justify-content: center;
      p 
      {
          color:white;
          font-size: 22px;
          font-weight: 500 !important;
          line-height: 23px;
      }
  }