@import "../../StyleO.scss";
.heropagesection--wrapper {
  background-image: url("../../../Images/homeimg.png");
  height: 100vh;
  background-repeat: no-repeat;
  position: relative;

  .heropage--overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    background-color: rgba(54, 54, 54, 0.219);

  }
}

.heropage--content {
  position: absolute;
  top: 40%;
  max-width: 100%;
  text-align: center;

  h1 {
    font-size: var(--section--header);
    font-family: var(--font-family-libre);
    color: white;
    font-weight: 700 !important;
    margin: 5px;
    span {
      color: #46add6;
    }
  }
  p {
    font-family: var(--font-family-pop);
    font-size: var(--sub-font-size);
    color: white;
    margin: 20px 10px;
    padding: 0px 90px;
  }
}
.heropagesection--wrapper{
  h1{
    font-size: var(--main-font-size);
  }
}
.topvacdestination--wrapper {
  padding: 80px 10px;
}
.section--header {
  font-size: var(--section--header);
  color: var(--primary-color);
  font-family: var(--font-family-libre);
  text-align: center;
  margin: 5px;
  letter-spacing: 1px;
  font-weight: 600 !important;
  
}
.section--container {
  padding-top: 70px;
}
.map {
  padding: 20px;

  img {
    height: 300px;
    margin: auto;
    display: flex;
  }
}
.exploreacti--content {
  background-color: var(--primary-color);
  padding: 20px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  button {
    background-color: white;
    color: var(--primary-color);
    padding: 8px 0px;
    border-radius: 6px;
    font-size: 26px;
    font-family: var(--font-family-libre);
    font-weight: 600;
    border: none;
    outline: none;
    line-height: 32px;
    display: inline-block;
    width: 100%;
  }
  ul {
    padding: 2px;
    li {
      text-decoration: none;
      list-style: none;
      color: white;
      font-family: var(--font-family-pop);
      font-size: 20px;
      padding: 8px 0px;
      text-align: start;
      font-weight: 600;
    }
  }
}
.small--activities--container
{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    padding-top:40px;
    justify-content: space-between;
    .divv
    {
       
        flex: 0 0 calc(14.2857142857% - 20px);
        p 
        {
            text-align: center;
            color:var(--primary-color);
            font-size: 22px;
            font-weight: 800;
            margin:10px 0px;
            font-family: var(--font-family-pop);
        }
    }
    .activities--img
    {
        border:2px solid rgb(194, 193, 193);
        border-radius: 6px;
        padding:10px;
       
        img 
        {
           
            height: 90px;
            padding:8px
        }
    }
}
.section--header--container
{
  padding:10px 20em;
  position: relative;
  top:10%;
}





.majesticpeaks--card {
  width: calc(33.33% - 50px);
  position: relative;
  text-align: center;
  margin:auto;
}
.majestic--overlay
{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(54, 54, 54, 0.24);
  top:0;
}
.majesticpeaks--wrapper
{
  padding-top: 70px;
  padding-bottom: 70px;
}
.majesticpeaks--card--img {
  height: 600px;
  width: 100%;
  position: relative;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
  }
}
.majestic--card--wrapper
{
  display: flex;
  
  padding-top: 20px;

}
  .majestic--title {
    position: absolute;
   top:80px;
    color: white;
    text-align: center;
    
    font-size: 35px;
    padding:10px 50px;
    font-weight: 500;
   
  
   font-family: var(--font-family-pop);
   
  }
  .majesticpeaks--card--content
  {
    margin:30px 10px;
    width: 100;
    color:#797979;
  }
 


.majesticpeaks--card:nth-child(2) {
 top:70px;
}
.ourtrendingpac--wrapper
{
  padding-top: 100px;
  .ourtrendingpac--container
  {
    padding-top: 50px;
   
  }
}
.ourtrendingpackage--card
{
  display: flex;
  justify-content: space-between;
  gap: 2em;
  
}

@media (max-width: 1920px) {
  .heropage--content {
    max-width: 1200px;
  }
}
@media (max-width: 940px) {
  .heropage--content {
    h1 {
      font-size: 55px;
    }
    p {
      font-size: 20px;
    }
  }
}
@media (max-width: 776px) {
  .heropage--content {
    h1 {
      font-size: 50px;
    }
    p {
      font-size: 18px;
    }
  }
}
@media (max-width: 657px) {
  .heropage--content {
    h1 {
      font-size: 40px;
    }
    p {
      font-size: 16px;
      padding: 0px 30px;
    }
  }
}
@media (max-width: 492px) {
  .heropage--content {
    top: 30%;
    p {
      padding: 0px 20px;
    }
  }
}