



  .ourtrendingcard--container {
    width: calc(33.33% - 50px);
    border: 1px solid rgb(197, 197, 197);
    padding: 24px;
    border-radius: 10px;
    .ourtrendingcard--img {
      height: 347px;
      width: 100%;
      img {
      height: 100%;
        border-radius: 6px;
        width: 100%;
      }
    }
    .ourtrendingcard--content {
      width: 100%;
      text-align: start;
  
      h1 {
        color: #4A4A4A;
        font-size: 27px;
        font-family: var(--font-family-pop);
        font-weight: 800;
      }
      p {
        font-size: 20px;
        align-items: center;
        font-family: var(--font-family-pop);
        color: #4A4A4A;margin-left:10px;
        margin: 15px 4px;
        
      }
    }
    .ourtrendingcard--location {
      display: flex;
      justify-content: space-between;
      p {
        margin: 4px;
        font-size: 20px;
        color: #4A4A4A;
      
      }
    }
        
  }
  .otc--btn
  {
    display: flex;
   justify-content: space-between;
   margin-top: 24px;
   p 
   {
    color:rgb(105, 104, 104) !important;
    font-size: 24px;
    font-weight: 600;
   }
  }
  .userreviewcard--container
  {
    display: flex;
    gap:26px;
   justify-content: center;
    .userreview--content
    {
     h1
     
     {
      font-size: 33px;
      font-family: var(--font-family-pop);
      color:var(--sub--header);
      margin:3px 0px;
      font-weight: 800 !important;
     }
     h4 
     {
      font-size: 18px;
      font-family: var(--font-family-pop);
      margin:3px 0px;
      color:#797979;
     }
     p 
     {
      color:var( --black-color);
      font-size: 18px;
      font-weight: 800 !important;
      padding-right: 100px;
     }
     .datereport
     {
      font-size: 16px;
      color:#797979;
     }
    }
  }

  .packagesCard--container
  {
    flex: 0 0 calc(33.33% - 30px) ;
    position: relative;
    overflow: hidden;
    .kkk
    {
      padding: 20px;
      border: 2px #DADADA solid;
      border-radius: 15px;
    }
    .packagescard-img
    {
    height: 195px;
      img 
      {
        width:100%;
        border-radius: 10px;
        height: 100%;
        object-fit: cover;
  
      }

    }
  
  }
  .packagescard--content
  {
    h2 
    {
      font-size: 26px;
      font-family: var(--font-family-pop);
      font-weight: 600;
      color:var(--primary-color);
      padding-right: 40px;
      line-height: 28px;
      margin:20px 0px;
    }
    p 
    {
      font-size: 18px;
      font-family: var(--font-family-pop);
      font-weight: 500;
      color:#797979;
      line-height: 28px;
      margin: 6px 0px 0px 0px;
      
    }
  }
  .iconsp
  {
    display: flex;
    gap:15px;
    align-items: center;
  }
  .packagescard--buton
  {
    display: flex;
    justify-content: space-between;
    margin-top:15px;
    align-items: center;
    p 
    {
      font-size: 18px;
      font-weight: 600;
      color: var(--primary-color);
      margin:5px;
      font-family: var(--font-family-pop);
      font: 600;
      line-height: 27px;
      
    }
  }
  .destinationcard--container
  {
    
   flex: 0 0 calc(33.33% - 30px) ;
    position: relative;
    overflow: hidden;
   
    .dest-wrap{
      padding: 20px;
      border: 2px #DADADA solid;
      border-radius: 15px;
    }
    img 
    {
      width:100%;
      border-radius: 10px;

    }
    .sticker
    {
      background: rgb(232,116,8);
background: linear-gradient(90deg, rgba(232,116,8,1) 0%, rgba(255,185,90,1) 35%, rgba(255,212,161,1) 45%, rgba(255,164,71,1) 58%, rgba(232,116,8,1) 100%);
      color:var(--primary-color);
      position: absolute;
      top: 38px;
      left: -38px;
      padding: 2px 60px;
      font-size: 18px;
      font-weight: 600;
     transform: rotate(-45deg);
     box-shadow: 0 4  4 0 #000000;
    }
    .destinationcard--content
    {
      h1
      {
        font-size: 24px;
        font-family: var(--font-family-pop);
        color:var(--primary-color);
        font-weight: 600 !important;
       list-style: 29px;
       margin: 0px;

      }
      p 
      {
        color:var(--sub--header);
        margin:4px;
        font-size: 18px;
        line-height: 22px;
        font-family: var(--font-family-pop);

        

      }
    }
  }
  .activitiescard--container
  {
    position: relative;
    flex: 0 0 calc(33.33% - 20px);
    overflow: hidden;
    height: 100%;
    img 
    {
      width: 100%;
   
      object-fit: contain;
      overflow: hidden;
      height: 100%;
      
    }
    .activities--sticker
    {
      background-color: var(--primary-color);
      position: absolute;
      border-radius:  0px 50px 50px 0px;
      bottom:50px;
      left:0;
      padding:0px 0px 12px 0px;
      &:hover{
        background-color: var(--hover);
        .ll
        {
          color:black;
        }

      }
      .ll
      {
        color: white;
        padding: 12px 93px 2px 20px;
        /* margin: 0px 5px; */
        margin: 0px;
     
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
        letter-spacing: -2%;
        font-family: var(--font-family-pop);
      }
      .lo
      {
        color:white;
        margin :0px;
        padding:  0px 0px 0px 20px  ;
        line-height: 12px;
        
        font-size: 13px;
        line-height: normal;
        font-family: var(--font-family-pop);
      }
    }
  }
  .destinationcard--subcontent
  {
    display: flex;
    justify-content: space-between;
    padding-top: 14px;
  }
 
  .ourservicescard--container
  {
    flex: 0 0  calc(33.33% - 50px);
   
    box-shadow: 6px 6px 24px 4px #9ebbeb33;   
    background-color: #a7bbdb28;
    border-radius: 15px;
     .ourservicescard--content
    {
    
      text-align: center;
      padding:40px 25px 50px 25px;
      img 
      {
        height: 75px;
       
      }
  h1
  {
    font-size: 32px;
    font-weight: 900 !important;
    font: bolder;
    font-family: var(--font-family-pop);
   color:var(--black-color);
   line-height: 48px;
   margin:10px 0px;
   text-align: center;
  }
  p 
  {
    font-size: 20px;
    font-weight: 500 !important;
    font-family: var(--font-family-pop);
    margin:3px 0px;
    color:var(--black-color);


  }

    }
  }