
@import '../../StyleO.scss';
.main--btn--wrapper
{
    button 
    {
        padding: 10px 14px;
        border:none;
        border-radius: 8px;
        background-color: var(--primary-color);
        color:white;
        font-size: 18px;
        line-height: 22px;
        font-family: var(--font-family-pop);
    }
}