
@import '../../StyleO.scss';
@import '../../responsive.scss';
.main--btn--wrapper
{
    button 
    {
        padding: 15px 34px;
        border:none;
        border-radius: 8px;
        background-color: var(--primary-color);
        color:white;
        font-size: 18px;
        line-height: 22px;
        font-family: var(--font-family-pop);
        cursor: pointer;
        &:hover{
            background-color: var(--hover);
        }
    }
}
.card--btn--wrapper
{
    button 
    {
        padding: 12px 12px;
        border:none;
        border-radius: 8px;
        background-color: var(--primary-color);
        color:white;
        font-size: 16px;
        line-height: 22px;
        font-family: var(--font-family-pop);
        cursor: pointer;
        &:hover{
            background-color: var(--hover);
        }
    }
}
.booknow--btn--wrapper
{
    button 
    {
        padding: 20px 34px;
        border:none;
        border-radius: 8px;
        background-color: var(--primary-color);
        color:white;
        font-size: 22px;
        line-height: 22px;
        font-family: var(--font-family-pop);
        display: flex;
        gap:10px;
        cursor: pointer;
        &:hover{
            background-color: var(--hover);
            span 
            {
                color:black;
            }
        }
        span 
        {
            color:var(--hover) 
        }
      
    }
}